<html>

<body bgcolor=black>

    <center>

        <h1 style="color:white;">  PREDICTION :  </h1>

    {%if data == 1%}
    <h1 style="color:white;">Fungal infection</h1>  
    <img src='static\load.gif'>  

    {%elif data == 2%}
    <h1 style="color:white;">Allergy</h1>  
    <img src='static\load.gif'> 
    
    {%elif data == 3%}
    <h1 style="color:white;">GERD</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 4%}
    <h1 style="color:white;">Chronic cholestasis</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 5%}
    <h1  style="color:white;">Drug Reaction</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 6%}
    <h1  style="color:white;">Peptic ulcer diseae</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 7%}
    <h1 style="color:white;">AIDS</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 8%}
    <h1 style="color:white;">Diabetes</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 9%}
    <h1 style="color:white;">Gastroenteritis</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 10%}
    <h1 style="color:white;">Bronchial Asthma</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 11%}
    <h1 style="color:white;">Hypertension</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 12%}
    <h1 style="color:white;">Migraine</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 13%}
    <h1 style="color:white;">Cervical spondylosis</h1>  
    <img src='static\load.gif'>

        
    {%elif data == 14%}
    <h1 style="color:white;">Paralysis (brain hemorrhage)</h1>  
    <img src='static\load.gif'>

        
    {%elif data == 15%}
    <h1 style="color:white;">Jaundice</h1>  
    <img src='static\load.gif'>



        
    {%elif data == 16%}
    <h1 style="color:white;">Malaria</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 17%}
    <h1 style="color:white;">Chicken pox</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 18%}
    <h1 style="color:white;">Dengue</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 19%}
    <h1 style="color:white;">Typhoid</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 20%}
    <h1 style="color:white;">hepatitis A</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 21%}
    <h1 style="color:white;">hepatitis B</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 22%}
    <h1 style="color:white;">hepatitis C</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 23%}
    <h1 style="color:white;">hepatitis D</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 24%}
    <h1 style="color:white;">hepatitis E</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 25%}
    <h1 style="color:white;">Alcoholic hepatitis</h1>  
    <img src='static\load.gif'>

        
    {%elif data == 26%}
    <h1 style="color:white;">Tuberculosis</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 27%}
    <h1 style="color:white;">Common Cold</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 28%}
    <h1 style="color:white;">Pneumonia</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 29%}
    <h1 style="color:white;">Dimorphic hemmorhoids(piles)</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 30%}
    <h1 style="color:white;">Heart attack</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 31%}
    <h1 style="color:white;">Varicose veins</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 32%}
    <h1 style="color:white;">Hypothyroidism</h1>  
    <img src='static\load.gif'>
        
    {%elif data == 33%}
    <h1 style="color:white;">Hyperthyroidism</h1>  
    <img src='static\load.gif'>

    {%elif data == 34%}
    <h1 style="color:white;">Osteoarthristis</h1>  
    <img src='static\load.gif'>


    {%elif data == 35%}
    <h1 style="color:white;">Arthritis</h1>  
    <img src='static\load.gif'>

    {%elif data == 36%}
    <h1 style="color:white;">Arthritis</h1>  
    <img src='static\load.gif'>

    {%elif data == 37%}
    <h1 style="color:white;">(vertigo) Paroymsal  Positional Vertigo</h1>  
    <img src='static\load.gif'>

    
    {%elif data == 38%}
    <h1 style="color:white;">Acne</h1>  
    <img src='static\load.gif'>

        
    {%elif data == 39%}
    <h1 style="color:white;">Urinary tract infection</h1>  
    <img src='static\load.gif'>

        
    {%elif data == 40%}
    <h1 style="color:white;">Psoriasis</h1>  
    <img src='static\load.gif'>

        
    {%elif data == 41%}
    <h1 style="color:white;">Impetigo</h1>  
    <img src='static\load.gif'>

        
    {%elif data == 42%}
    <h1 style="color:white;">Covid</h1>  
    <img src='static\load.gif'>

        
    {%elif data == 43%}
    <h1 style="color:white;">Cancer</h1>  
    <img src='static\load.gif'>

    
        
    {%elif data == 44%}
    <h1 style="color:white;">Ebola</h1>  
    <img src='static\load.gif'>
    
        
    {%elif data == 43%}
    <h1 style="color:white;">lassa fever</h1>  
    <img src='static\load.gif'>

            
    {%elif data == 44%}
    <h1 style="color:white;">Sars</h1>  
    <img src='static\load.gif'>

            
    {%elif data == 45%}
    <h1 style="color:white;">Zika</h1>  
    <img src='static\load.gif'>

    {%else%}
    <h1 style="color:white;">Disease not found</h1>
    <img src='static\load.gif'>
    
    {%endif%}
        <br><br>
    <h3  style="color:white;"><a href='/'>PREDICT AGAIN</a></h3>

    </center>

</body>

</html>






