<html>
<head>
<style>
     .row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid;
}
      </style>
</head>
    <body bgcolor=skyblue>
           
           <div class="row">

<div class="col">

       <center>
        <h1 style="color:white;">DISEASE PREDICTION SYSTEM USING SYMPTOMS </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b>  Symptom 1 :  <input type="number", name='a', placeholder="enter 1", id="a"> <br><br>
                Symptom 2 :  <input type="number", name='b', placeholder="enter 2", id="b"> <br><br>
                Symptom 3:  <input type="number", name='c', placeholder="enter 3", id="c"> <br><br>
                Symptom 4 : <input type="number", name='d', placeholder="enter 4", id="d"> <br><br>
                Symptom 5:  <input type="number", name='e', placeholder="enter 5", id="e"> <br><br>
                Symptom 6:  <input type="number", name='f', placeholder="enter 6", id="f"> <br><br>
                Symptom 7:  <input type="number", name='g', placeholder="enter 7", id="g"> <br><br>
                Symptom 8:  <input type="number", name='h', placeholder="enter 8", id="h"> <br><br>
                Symptom 9:  <input type="number", name='i', placeholder="enter 9", id="i"> <br><br>
                Symptom 10:  <input type="number", name='j', placeholder="enter 10", id="j"> <br><br>
                Symptom 11:  <input type="number", name='k', placeholder="enter 11", id="k"> <br><br>
                Symptom 12:  <input type="number", name='l', placeholder="enter 12", id="l"> <br><br>
                Symptom 13:  <input type="number", name='m', placeholder="enter 13", id="m"> <br><br>
                Symptom 14:  <input type="number", name='n', placeholder="enter 14", id="n"> <br><br>
                Symptom 15:  <input type="number", name='o', placeholder="enter 15", id="o"> <br><br>
                Symptom 16:  <input type="number", name='p', placeholder="enter 16", id="p"> <br><br>
                Symptom 17:  <input type="number", name='q', placeholder="enter 17", id="q"> <br><br>
                       
                <!--Symptom 18:  <input type="number", name='r', placeholder="enter 18"> <br><br><br></b>-->
            <input type="submit" , value='predict' >
        </form>

<img src='static\circle.gif' alt="circle" >
        
</center>
        
    </div>
      
                <div class="col">
                        <h1 style="color:white;"> SYMPTOM REFERENCE COLUMN </h1><br>

                <ol>
                    
                    <li>itching</li>
                    <li>skin_rash</li>
                    <li>continuous_sneezing</li>
                    <li> shivering</li>
                    <li>stomach_pain</li>
                    <li>acidity</li>
                    <li>vomiting</li>
                    <li>indigestion</li>
                    <li>muscle_wasting</li>
                    <li>patches_in_throat</li>
                    <li>fatigue</li>
                    <li>weight_loss</li>
                    <li>sunken_eyes</li>
                    <li>cough</li>
                    <li> headache</li>
                    <li>chest_pain</li>
                    <li>back_pain</li>
                    <li>weakness_in_limbs</li>
                    <li>chills</li>
                    <li>joint_pain</li>
                    <li>yellowish_skin</li>
                    <li>constipation</li>
                    <li>pain_during_bowel_movements</li>
                    <li> breathlessness</li>
                    <li>cramps</li>
                    <li>weight_gain</li>
                    <li>mood_swings</li>
                    <li>neck_pain</li>
                    <li> muscle_weakness</li>
                    <li> stiff_neck</li>
                    <li>pus_filled_pimples</li>
                    <li>burning_micturition</li>
                    <li>bladder_discomfort</li>
                    <li>high_fever</li>
                    <li>'headaches'</li>
                

                    </ol>
                    </ol>
<h3> 0.null values </h3>
<h3>-1.no symptom</h3>
                </div>

</div>


    </body>
</html>
